@{
    ViewData["Title"] = "Home Page";
}
@model OpenStreetMapViewModel

<form id="searchGeoJson" asp-action="Index" asp-controller="Home" method="post">
    <partial name="_ToastrPartial" for="ToastrViewModel" />

    <div class="container box-shadow large-box">
        <div class="row">
            <div class="col-sm-12 card-header text-center">
                <div class="mb-3 col-sm-12 text-center">
                    <img src="~/images/world.jpg" alt="GeoJson World Image"
                         width="120" height="120" style="border-radius: 50%"
                         class="animation-360-degree-cycle" />
                </div>
                <div class="mb-3 col-sm-12 text-center">
                    <label class="display-4">Search GeoJson Features</label>
                </div>
            </div>
            <br /><br />

            <div class="col-sm-4 card-body">
                <div class="mb-3 row">
                    <label asp-for="MinimumLongitude" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="MinimumLongitude" type="text" class="form-control">
                        <span asp-validation-for="MinimumLongitude" class="text-danger h6"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="MinimumLatitude" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="MinimumLatitude" type="text" class="form-control">
                        <span asp-validation-for="MinimumLatitude" class="text-danger h6"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="MaximumLongitude" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="MaximumLongitude" type="text" class="form-control">
                        <span asp-validation-for="MaximumLongitude" class="text-danger h6"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="MaximumLatitude" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="MaximumLatitude" type="text" class="form-control">
                        <span asp-validation-for="MaximumLatitude" class="text-danger h6 text-sm-left"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-block btn-primary" value="Search" />
                    </div>
                </div>
            </div>

            <div class="col-sm-8 card-body mb-3 table-responsive">
                <table id="geoJsonTable" class="table table-striped table-light border-light table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Changeset</th>
                            <th scope="col">Type</th>
                            <th scope="col">Coordinates</th>
                            <th scope="col">Natural</th>
                            <th scope="col">Water</th>
                            <th scope="col">Contributor (user)</th>
                            <th scope="col">Created Time (timestamp)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

        $(document).ready(function () {

            var geoJsonDataTable = $('#geoJsonTable').DataTable({
                "pagingType": "simple_numbers",
                "scrollX": true
            });
            $('.dataTables_length').addClass('bs-select');

            $('#searchGeoJson').submit(function (event) {
                event.preventDefault();
                event.stopPropagation();

                var form = $('#searchGeoJson');

                if (!form.valid()) {
                    return false;
                }

                $.ajax({
                    url: `/Home/SearchGeoJsonFeaturesByCoordinates`,
                    type: "POST",
                    dataType: "json",
                    data: form.serialize(),
                    success: function (data) {
                        removeAllValidations();
                        var parser = new DOMParser();
                        var osmDataXml = parser.parseFromString(data, "application/xml")

                        var geoJsonData = osmtogeojson(osmDataXml);

                        addFeaturesIntoTableRows(geoJsonData.features, geoJsonDataTable);
                    },
                    error: function (data) {
                        var toastrErrorField = $('#@Html.IdFor(m => m.ToastrViewModel.ErrorMessage)');

                        //Server exception
                        if (data.status === 500) {
                            toastrErrorField.html('A system error occured. Please contact the system admin.');
                        }
                        else {
                            toastrErrorField.html(data.responseJSON.message);
                        }
                        $('.toast').toast('show');
                    }
                });
            });
        });

    </script>
}